﻿@{
    ViewData["Title"] = "Job Manager";
}

@model IEnumerable<JobModel>

<div>
    <div id="spinnerInputSectionContainer" style="display:none;" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <table class="table table-borderless table-striped table-sm">
        <thead class="sticky-top bg-white">
            <tr>
                <th scope="col">Job ID</th>
                <th scope="col">Name</th>
                <th scope="col">Floor</th>
                <th scope="col">Job Status</th>
                <th scope="col">RoomType</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="idRow_@item.JobID" class="@item.StatusColor">
                    <td>@item.JobID</td>
                    <td>@item.Name</td>
                    <td>@item.Floor</td>
                    <td id="idStatus_@item.JobID">@item.JobStatus</td>
                    <td>@item.RoomType</td>
                    <td>
                        @if (item.IsMarkable)
                        {
                            <div class="d-flex justify-content-between">
                                <div class="d-flex" style="font-size:small">
                                    <a id="idMarkButtonId_@item.JobID" href="#" title="Delete" onclick="$(this).children().first().submit()">
                                        Mark
                                        <form asp-controller="Job" asp-action="MarkCompleted" method="post"
                                              data-ajax="true"
                                              data-ajax-method="post"
                                              data-ajax-loading="#idSpinner_@item.JobID"
                                              data-ajax-success="jobStatusChanged">
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("jobId", item.JobID)
                                        </form>
                                    </a>
                                </div>
                                <div id="idSpinner_@item.JobID" class="spinner-border spinner-border-sm" style="display:none;" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(function () {

            jobStatusChanged = function (xhr) {
                if (xhr.success) {
                    changeStatusAndHideButton(xhr.id);
                }
                else {
                    alert(xhr.error);
                }
            };

            changeStatusAndHideButton = function (id) {
                $('#idMarkButtonId_' + id).hide();
                $('#idRow_' + id).removeClass("table-danger");
                $('#idRow_' + id).removeClass("table-primary");
                $('#idRow_' + id).addClass("table-success");
                $('#idStatus_' + id).html('Complete');
            }
        });
    </script>
}